<!-- <p id="notice"><%= notice %></p> -->


<div style="padding: 2rem 1rem; margin-bottom: 2rem; background-color: #e9ecef; border-radius: .3rem;">
  <h1 class="display-4"><%= @friend.first_name %> <%= @friend.last_name %></h1>
  <p class="lead">
    <strong>Email:</strong>
  <%= @friend.email %>
  </p>
  <p class="lead">
      <strong>Phone:</strong>
  <%= @friend.phone %>
  </p>
  <p class="lead">
    <strong>Twitter:</strong>
  <%= @friend.twitter %>
  </p>
  <hr class="my-4"></hr>
 
<%= link_to 'Edit', edit_friend_path(@friend), class:"btn btn-dark" %>
<%= link_to 'Back', friends_path, class:"btn btn-light" %>

</div>